# Dependencies
node_modules
.pnpm-store

# Build outputs
dist
.next
out
.turbo

# Environment
.env
.env.local
.env.*.local

# IDE / OS
.idea
.vscode
*.swp
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Prisma
apps/backend/prisma/migrations/**/migration_lock.toml

# Misc
*.tsbuildinfo
coverage
.cache
