[build]
builder = "nixpacks"

[deploy]
startCommand = "pnpm start"
healthcheckPath = "/"
healthcheckTimeout = 100
restartPolicyType = "on_failure"
restartPolicyMaxRetries = 10

[build.env]
NIXPACKS_PKGS = "nodejs_22, pnpm-9_x"
NIXPACKS_BUILD_CMD = "pnpm install && pnpm build"
